<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sumit Saha" />
    <meta name="owner" content="learnwithsumit.com" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="./images/favicon.png" />
    <link rel="stylesheet" href="./stylesheets/toastify.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="./js/toastify.js"></script>
  </head>
  <body>
    <div class="menu">
      <% if(loggedInUser && loggedInUser.username) { %>
      <div class="menu-item"><a href="/inbox">Inbox</a></div>
      <div class="menu-item"><a href="/users">Users</a></div>
      <div class="menu-item"><a href="#" onclick="logout()">Logout</a></div>
      <% } else { %>
      <div class="menu-item"><a href="/inbox">Inbox</a></div>
      <div class="menu-item"><a href="/users">Users</a></div>
      <div class="menu-item"><a href="/">Login</a></div>
      <% } %>
    </div>

    <div class="manageUser-container">
      <div id="title">
        <h2>Manage Users</h2>
      </div>

      <div class="new-message-container new-user">
        <a href="#" onclick="openModal()">+</a>
      </div>

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="users-table">
            <% users.forEach(function(user) { %>
            <tr id="<%= user._id %>">
              <td class="name">
                <% if (user.avatar) { %>
                <img src="./uploads/avatars/<%= user.avatar %>" />
                <% } else { %>
                <img src="./images/nophoto.png" />
                <% } %>
                <span><%= user.name %></span>
              </td>
              <td><%= user.email %></td>
              <td class="manage">
                <img
                  src="./images/trash.png"
                  alt="Delete"
                  onclick="deleteUser('<%= user._id %>')"
                />
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="modal-wrapper" id="add-user-modal">
      <div class="modal">
        <a href="#" onclick="closeModal()" class="modal-close">+</a>
        <div class="modal-title">
          <h2>Create New User</h2>
        </div>
        <div class="modal-body">
          <form
            method="post"
            action="/users"
            enctype="multipart/form-data"
            id="add-user-form"
          >
            <input type="text" placeholder="enter name" name="name" />
            <p class="error name-error"></p>
            <input type="text" placeholder="enter email" name="email" />
            <p class="error email-error"></p>
            <input type="text" placeholder="enter mobile" name="mobile" />
            <p class="error mobile-error"></p>
            <input
              type="password"
              placeholder="enter password"
              name="password"
            />
            <p class="error password-error"></p>
            <input type="file" name="avatar" />
            <p class="error avatar-error"></p>

            <p class="error common-error"></p>
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>
    <script>
      const modal = document.querySelector("#add-user-modal");
      const form = document.querySelector("#add-user-form");

      const successToast = Toastify({
        text: "User was added successfully! Reloading the list...",
        duration: 1000,
      });

      function closeModal() {
        modal.style.display = "none";
      }
      function openModal() {
        console.log("test");
        modal.style.display = "block";
      }

      // form submit handler
      form.onsubmit = async function (e) {
        e.preventDefault();

        // clear all the error
        const errorPlaceholder = document.querySelectorAll("p.error");

        for (let i = 0; i < errorPlaceholder.length; i++) {
          errorPlaceholder[i].style.display = "none";
        }

        const inputErrors = document.querySelectorAll("input.error");
        for (let j = 0; j < inputErrors.length; j++) {
          inputErrors[j].classList.remove("error");
        }

        // prepare the form data
        const formData = new FormData(form);

        // send the request to server
        let response = await fetch("/users", {
          method: "POST",
          body: formData,
        });

        // get response
        let results = await response.json();

        // handle errors and response
        if (results.errors) {
          Object.keys(results.errors).forEach((fieldName) => {
            // add error class to all inputs
            form[fieldName].classList.add("error");

            // set all error placeholders (p tag) text content
            const errorPlaceholder = document.querySelector(
              `.${fieldName}-error`
            );

            errorPlaceholder.textContent = results.errors[fieldName].msg;

            errorPlaceholder.style.display = "block";
          });
        } else {
          // successToast.showToast();
          closeModal();
          document.querySelector("p.error").style.display = "none";

          // reload the page after 1 second
          setTimeout(() => {
            location.reload();
          }, 1000);
        }
      };

      const logoutToast = Toastify({
        text: "You are being logout ...",
        duration: 10000,
      });
      function logout() {
        logoutToast.showToast();
        fetch("/", {
          method: "DELETE",
        });

        setTimeout(() => {
          window.location.replace("/");
        }, 1000);
      }

      // toasts
      const deleteToast = Toastify({
        text: "User was deleted successfully!",
        duration: 3000,
      });
      const deleteErrorToast = Toastify({
        text: "Could not delete the user!",
        duration: 3000,
      });

      // delete user function
      async function deleteUser(userId) {
        let response = await fetch(`/users/${userId}`, {
          method: "DELETE",
        });
        let result = await response.json();
        if (result.errors) {
          deleteErrorToast.showToast();
        } else {
          deleteToast.showToast();
          document.getElementById(userId).remove();
        }
      }
    </script>
  </body>
</html>
